= form_for [:admin, @location] do |f|
  - if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :nickname
    = f.text_field :nickname
  .field
    = f.label :slices
    = f.check_box :slices
  .field
    = f.label :seating_capacity
    = f.number_field :seating_capacity
  %ul
    = f.fields_for :address do |address_form|
      %li
        = address_form.label :line1
        = address_form.text_field :line1
        = address_form.label :line2
        = address_form.text_field :line2
        = address_form.label :city
        = address_form.text_field :city
        = address_form.label :state
        = address_form.text_field :state
        = address_form.label :zip
        = address_form.text_field :zip
  .actions
    = f.submit 'Save'
