%p
  %b Name:
  = @location.name
%p
  %b Nickname:
  = @location.nickname
%p
  %b Slices:
  - if @location.slices
    Serves slices!
%p
  %b Seating Capacity:
  = @location.seating_capacity
%p
  - if @location.address
    = @location.address.line1
    = @location.address.line2
    = @location.address.city
    = @location.address.state
    = @location.address.zip

= link_to 'Back', admin_locations_path
= link_to 'Edit', edit_admin_location_path(@location)
= link_to 'Delete', admin_location_path(@location), method: :delete
