= @item.name
= @item.description
= @item.kind
= @item.qualifier
- if @item.active?
  Active (On menu)
- else
  Inactive (Not on menu)
- unless @item.sizes.nil?
  - @item.sizes.each do |s|
    = s.name
    = s.price
    = s.half_price
- if @item.sides.first != nil
  - @item.sides.first.toppings.each do |t|
    = t.name
= link_to 'Edit', edit_admin_item_path(@item)
= link_to 'Delete', admin_item_path(@item), method: :delete
