.row
  .large-12.columns#menu-nav
    %div
      %h1
        DELIVERY MENU
        %ul
          %li
            = link_to 'Pies', '#pies'
          %li
            = link_to 'Salads', '#salads'
          %li
            = link_to 'Pasta', '#pasta'
          %li
            = link_to 'Beverages', '#beverages'
          %li
            = link_to 'Appetizers', '#appetizers'
          %li
            = link_to 'Gelatos', '#gelatos'
.row
  .large-4.columns#seasonal-pizzas
    %h2.menu-section
      SEASONAL PIZZAS
    - @seasonal_pizzas.each do |seasonal_pizzas|
      %p
        %b
          = seasonal_pizzas.name.upcase
        %br
        = seasonal_pizzas.description
        %br
        = seasonal_pizzas.small_price
        •
        = seasonal_pizzas.medium_price
        •
        = seasonal_pizzas.large_price
  .large-8.columns#toppings
    %h2.menu-section
      CREATE YOUR OWN
    .row
      .large-6.columns
        %p
          %b
            VEGETABLE TOPPINGS
          %br
          = add_commas_to_product @veggie_toppings
      .large-6.columns
        %p
          %b
            CHEESE TOPPINGS
          %br
          = add_commas_to_product @cheese_toppings
    .row
      .large-6.columns
        %p
          %b
            MEAT TOPPINGS
          %br
          = add_commas_to_product @meat_toppings
.row
  .large-12.columns#pies
    .menu-section
      %h2
        PAGLIACCI FAVORITES
.row
  - @menu_pizzas.each do |menu_pizzas|
    %p.medium-4.large-4.columns
      %b
        = menu_pizzas.name.upcase
      %br
      = menu_pizzas.description
      %br
      = menu_pizzas.small_price
      •
      = menu_pizzas.medium_price
      •
      = menu_pizzas.large_price
.row
  .large-12.columns#salads
    .menu-section
      %h2
        SALADS
.row
  - @salads.each do |salad|
    %p.medium-4.large-3.columns
      %b
        = salad.name.upcase
      %br
      = salad.description
      %br
      = salad.small_price
      •
      = salad.medium_price
      •
      = salad.large_price
.row
  .large-4.columns#gelatos
    .menu-section
      %h2
        GELATOS
    %p
      Hand-crafted gelato made locally by
      = link_to 'Gelatiamo.', 'gelatiamo.com'
      Available by the pint in
      = add_commas_to_product @gelatos
  .large-4.columns#beverages
    .menu-section
      %h2
        BEVERAGES
    %p
      = add_commas_to_product @beverages


