= form_for @topping do |f|
  - if @topping.errors.any?
    #error_explanation
      %h2 = pluralize(@topping.errors.count, 'error') + "prohibted this topping from being saved"

  .field
    = f.label :name
    = f.text_area :name

    = check_box 'topping', 'seasonal'
    = check_box 'topping', 'active'

  = submit_tag 'Save'
  - if @topping.persisted?
    = link_to 'Delete', topping_path(@topping), method: :delete

