= form_for @menu_pizza do |f|
  - if @menu_pizza.errors.any?
    #error_explanation
      %h2
      = pluralize(@menu_pizza.errors.count, 'error') + ' prohibited this post from being saved'

      %ul
        - @menu_pizza.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :name
    = f.text_area :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :small_price
    = f.number_field :small_price, step: 'any'
  .field
    = f.label :medium_price
    = f.number_field :medium_price, step: 'any'
  .field
    = f.label :large_price
    = f.number_field :large_price, step: 'any'
  .field
    %ul
      - @toppings.each do |t|
        %li
          = check_box_tag "#{t.name}", t.id, @menu_pizza.toppings.include?(t), :name => 'menu_pizza[topping_ids][]'
          %label
            = t.name
    = check_box 'menu_pizza', 'seasonal'
    = check_box 'menu_pizza', 'active'
  = submit_tag 'Save'
  - if @menu_pizza.persisted?
    = link_to 'Delete', menu_pizza_path(@menu_pizza), method: :delete

