= form_for @menu_pizza do |f|
  - if @menu_pizza.errors.any?
    #error_explanation
      %h2
      = pluralize(@menu_pizza.errors.count, 'error') + ' prohibited this post from being saved'

      %ul
        - @menu_pizza.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :name
    = f.text_area :name
    = f.label :description
    = f.text_area :description
    = f.label :small_price
    = f.number_field :small_price, step: 'any'
    = f.label :medium_price
    = f.number_field :medium_price, step: 'any'
    = f.label :large_price
    = f.number_field :large_price, step: 'any'

    - if @menu_pizza.persisted?
      %ul
        - @toppings.each do |t|
          %li
            = check_box_tag "#{t.name}", t.id, @menu_pizza.toppings.include?(t), :name => 'menu_pizza[topping_ids][]'
            %label
              = t.name
      = check_box 'menu_pizza', 'seasonal'
      = check_box 'menu_pizza', 'active'
  = submit_tag 'Create'
