%p#notice= notice

= @menu_pizza.name
#p
  = @menu_pizza.description
  = @menu_pizza.small_price
  = @menu_pizza.medium_price
  = @menu_pizza.large_price
  - if @menu_pizza.seasonal?
    Seasonal
  - if @menu_pizza.active?
    Active

- @menu_pizza.toppings.each do |t|
  = t.name

- if policy(@menu_pizza).update?
  = link_to 'Edit', edit_menu_pizza_path(@menu_pizza)
