= form_tag('/items')
= hidden_field :order, :id, name: 'item[order_id]'
= collection_select :item, :sizes, @item.sizes, :id, :name, {include_blank: 'Select Size', prompt: 'Select Size'}, name: 'item[size_selection]'
%ul
- @toppings.each do |t|
  %li
    = check_box_tag "#{t.name}", t.id, @item.toppings.include?(t), name: 'item[topping_ids][]'
    %label
      = t.name
= submit_tag 'Add to Order'
