%h1 Pizzas
%ul#pizzas
  - @menu_pizzas.each do |p|
    %li.small-6.columns
      = link_to "#{p.name}", "add_item?item_id=#{p.id}"
      = image_tag 'extra-pepperoni-pizza.jpg'
%h1 Salads
%ul
  - @salads.each do |s|
    %li
      = link_to "#{s.name}", "add_item?item_id=#{s.id}"
%h1 Gelatos
%ul
  - @gelatos.each do |g|
    %li
      = link_to "#{g.name}", "add_item?item_id=#{g.id}
