- if policy(@items).create?
  = link_to 'Add New Item', new_item_path
%br
- @items.each do |i|
  .large-4.columns
    %b
      = i.name
    %br
    = i.description
    %br
      - unless i.sizes.nil?
        - i.sizes.each do |size|
          = size.name
          = size.price
      - if policy(@items).update?
        = link_to 'Edit', edit_item_path(i)
