= simple_form_for @salad do |f|
  = f.input :name
  %h3 Sizes
  #sizes
    = f.simple_fields_for :sizes do |size|
      = render 'size_fields', f: size
    .links
      = link_to_add_association 'Add Size', f, :sizes
  %ul
    - @toppings.each do |t|
      %li
        = check_box_tag "#{t.name}", t.id, @salad.toppings.include?(t), :name => 'salad[topping_ids][]'
        %label
          = t.name
  = submit_tag 'Save'
  - if @salad.persisted?
    = link_to 'Delete', salad_path(@salad), method: :delete

