- if policy(@salads).create?
  = link_to 'Add New Salad', controller: 'salads', action: 'new'
%br
- @salads.each do |s|
  .large-4.columns
    %b
      = s.name
    %br
    = s.description
    %br
    = s.small_price
    •
    = s.medium_price
    •
    = s.large_price
    - if policy(@salads).update?
      = link_to 'Edit', edit_salad_path(s)
