- if policy(@salads).create?
  = link_to 'Add New Salad', controller: 'salads', action: 'new'
%br
- @salads.each do |s|
  .large-4.columns
    %b
      = s.name
    %br
    = s.description
    %br
      - unless s.sizes.nil?
        - s.sizes.each do |size|
          = size.name
          = size.price
      - if policy(@salads).update?
        = link_to 'Edit', edit_salad_path(s)
