= @salad.name
= @salad.description
- unless @salad.sizes.nil?
  - @salad.sizes.each do |s|
    = s.name
    = s.price
- @salad.toppings.each do |t|
  = t.name
- if policy(@salad).update?
  = link_to 'Edit', edit_salad_path(@salad)
  = link_to 'Delete', salad_path(@salad), method: :delete
