= @salad.name
= @salad.small_price
= @salad.medium_price
= @salad.large_price

- @salad.toppings.each do |t|
  = t.name

- if policy(@salad).update?
  = link_to 'Edit', edit_salad_path(@salad)
  = link_to 'Delete', salad_path(@salad), method: :delete
