%ul#navbar
  %li
    = link_to 'Menu', action: 'menu'
  %li
    = link_to 'Catering', action: 'catering'
  %li
    = link_to 'Locations', action: 'locations'
  %li
    = link_to 'About', action: 'about'
  %li
    = link_to 'Home', action: 'index'
