%nav
  %ul
    %li
      = link_to 'MENU', action: 'menu'
    %li
      = link_to 'CATERING', action: 'catering'
    %li
      = link_to 'LOCATIONS', action: 'locations'
    %li
      = link_to 'ABOUT', action: 'about'
    %li
      = link_to 'HOME', action: 'index'
