%ul#nav
  %li
  %li
    = link_to 'ABOUT', '/about'
  %li
    = link_to 'LOCATIONS', '/locations'
  %li
    = link_to 'Slices', '/slices'
  %li
    = link_to 'CATERING', '/catering'
  %li
    = link_to 'MENU', '/menu'
  %li


