.sticky
  %nav.top-bar
    = link_to 'ABOUT', '/about'
    |
    = link_to 'LOCATIONS', '/locations'
    |
    = link_to 'Slices', '/slices'
    |
    = link_to 'CATERING', '/catering'
    |
    = link_to 'MENU', '/menu'


