.sticky
  %nav.top-bar
    = link_to 'ABOUT', '/about'
    |
    = link_to 'MENU', '/menu'
    |
    = link_to 'CATERING', '/catering'
    |
    = link_to 'LOCATIONS', '/locations'
    |
    = link_to 'ORDER ONLINE!', 'order.pagliacci.com', id: 'order-online'

