%nav
  %ul
    %li
      = link_to 'MENU', controller: 'menu', action: 'index'
    %li
      = link_to 'CATERING', controller: 'welcome', action: 'catering'
    %li
      = link_to 'LOCATIONS', controller: 'welcome', action: 'locations'
    %li
      = link_to 'ABOUT', controller: 'welcome', action: 'about'
    %li
      = link_to 'HOME', controller: 'welcome', action: 'index'
