#order-top-bar
  #logo-subsection
    = image_tag 'pag-banner-logo-half-size.png'
  #login-subsection
    - if user_signed_in?
      = link_to 'Log out', destroy_user_session_path, method: :delete
    - else
      = link_to 'Sign in or Sign up', new_user_session_path
  .notice
    = notice
  .alert
    = alert
.large-12.columns
  = yield
