!!! 5
%html{html_attrs}
  %head
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1', :charset => 'utf-8'}
    %title= content_for?(:title) ? yield(:title) : 'Pagliacci Pizza – Seattle Area Pizza Delivery and Catering'
    = javascript_include_tag 'vendor/modernizr'
    = stylesheet_link_tag :application, :media => 'all'
    = javascript_include_tag :application
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    - if user_signed_in?
      = link_to 'Log out', destroy_user_session_path, method: :delete
    - else
      = link_to 'Sign in or create an account', new_user_session_path
    = render 'layouts/header'
    = render 'layouts/order_bar'
    .row#paper
      = render 'layouts/navbar'
      .notice
        = notice
      .alert
        = alert
      .large-12.columns
        = yield
